////////////////
///NEWS SASS FILE
////////////////
@import "../global.scss";

#news-nav {
	border-bottom: 4px solid $underlineColour;
}


#main-content {

	article {
		@include center;
		display: block;
		width: 950px;
		margin-top: 70px;

		#date-author {

			p {
				font-family: Arial, Helvetica, sans-serif;
				font-size: 12px;
				color: $grey;
				display: inline-block;
				width: auto;
			}

			p:last-child {
				color: $nissanRed;
			}
		}

		h2 {
			@include section-header($black);
			margin: 0;
		}

		p {
			@include copy;
			width: 710px;
			font-size: 11px;
			margin-bottom: 40px;
		}
	}
}