////////////////
///NEWS SASS FILE
////////////////
@import "../global.scss";

$copyWidth: 746px;

body {
	background-color: $black;
}

#thecar-nav {
	border-bottom: 4px solid $underlineColour;
}

#main-content {
	background: url(../../img/backgrounds/racing-2.jpg) no-repeat;
	background-size: 100% 900px;

	.fr & {
		background-size: 100% 930px;
	}

	#racing {

		// background: url(../../img/backgrounds/racing.jpg) no-repeat;

		> div {
			@include center;
			width: 950px;
		}

		h2 {
			@include section-header($white);
			margin-top: 63px;
			margin-bottom: 0;
		}

		h3 {
			font-family: Arial, sans-serif;
			font-size: 18px;
			font-weight: normal;
			letter-spacing: 1px;
			text-align: left;
			color: $white;
			text-transform: uppercase;
		}

		p {
			@include copy($white);

			&.racing-desc {
				padding-right: 64px;
				margin-bottom: 20px;

				&.bottom-space {
					margin-bottom: 44px;
				}
			}
		}

		#standard-specs {

			margin-bottom: 40px;

			ul {
				align: top;
				display: inline-block;
				margin: 0;
				width: 328px;

				li {
					
					letter-spacing: -0.009em;
					@include copy($white);
					span {
						color: #C71444;
					}
				}
			}
		}

		#racing-enhancements {

			margin-bottom: 67px;

			ul {

				display: inline-block;
				vertical-align: top;
				margin: 0;
				width: 328px;

				li {
					@include copy($white);
					padding-left: 18px;
					background: url(../../img/check.png) no-repeat 0px 0px;
				}
			}
		}
	}

	#carousel {
		
		height: 136px;
	}

	#racing-car {
		margin-top: -110px;

		img {
			@include section-bg-img;
		}
	}

	#racing-micra {
		@include center;
		width: 950px;

		h2 {
			@include section-header($white);
			margin-top: 0;
		}

		p {
			@include copy($white);
		}

		a {
			@include text-link(14px, #C71444);
			display: inline-block;

			&:after {
				content: "";
				width: 21px;
				height: 18px;
				position: absolute;
				margin-left: 10px;
				background: url(../../img/cta-chevron-grey.png) no-repeat;
				background-size: 75% 75%;
			}
		}

		.racing-build {
			display: block;
			margin-top: 35px;
			margin-bottom: 120px;

			&:after {
				display: none;
			}
		}
	}
}